**/.classpath
**/.dockerignore
**/.env
**/.git
**/.gitignore
**/.project
**/.settings
**/.toolstarget
**/.vs
**/.vscode
**/*.*proj.user
**/*.dbmdl
**/*.jfm
**/azds.yaml
**/bin
**/charts
**/docker-compose*
**/Dockerfile*
**/node_modules
**/build
**/.dart_tool
**/.gradle
**/.idea
**/.cxx
**/android/.gradle
**/android/app/build
**/UI/yamore_mobile/build
**/UI/yamore_mobile/.dart_tool
**/UI/yamore_mobile/.idea
**/Yamore/.vs
**/Yamore/API/obj
**/Yamore/API/bin
**/Yamore.Worker/bin
**/Yamore.Worker/obj
**/Yamore.Services/bin
**/Yamore.Services/obj
**/Yamore.Model/bin
**/Yamore.Model/obj
**/npm-debug.log
**/obj
**/secrets.dev.yaml
**/values.dev.yaml
LICENSE
README.md
!**/.gitignore
!.git/HEAD
!.git/config
!.git/packed-refs
!.git/refs/heads/**